.flexDiv{
  display: flex;
  padding: 5px;
}
.contentDiv{
  margin: 0px;
  width: 100%;
  height: 100%;
  //background-color: #f4f4f4;
}
.previewImage{
  display: flex;
  float: left;
  margin: 4px;
  width: 100px;
  height: 100px;
}
